<h3>ALL CODERS</h3>
<%= link_to "Add New Coder to Database", new_coder_path %>
<div class="row">
<% @coders.each do |coder| %>
  <div class="col-md-2 index-card">
    <div class="index_card">
    <img src="<%= coder.img_url %>" alt="Coder Image" class="code_index_img"><br>
    <h5><a href="/coders/<%= coder.id %>"><%= coder.first_name %> <br> <%= coder.last_name %></a></h5>
  </div>
  </div>
<% end %>
</div>
