<img src="<%= @coder.img_url %>" alt="Coder Image" height="150" width="150">

<h1><%= @coder.first_name %> <%= @coder.last_name %></h1>
<h4>About <%= @coder.first_name %></h4>
<%= @coder.about %><br>

<h4>What <%= @coder.first_name %> is looking for</h4>
<%= @coder.looking_for %>
